// palette

// Content:
// - Variables


// Variables
$white: white;
$primary_color1:#242A53;
$primary_color1_light:#C8CAD4;
$primary_color1_medium:#9194A8;
$primary_color1_dark:#5A617D;
$primary_color2:#245B62;
$primary_color2_light:#C8D6D8;
$primary_color2_medium:#92ADB0;
$primary_color2_dark:#5C8489;
$primary_color3:#63CB9D;
$primary_color3_light:#D9F2E6;
$primary_color3_medium:#B2E4CE;
$primary_color3_dark:#8DD7B7;
$secondary_color1:#659CC3;
$secondary_color1_light:#D8E6F0;
$secondary_color1_medium:#B3CDE0;
$secondary_color1_dark:#8DB5D1;
$secondary_color2:#96E452;
$secondary_color2_light:#E5F7D5;
$secondary_color2_medium:#CBF0AB;
$secondary_color2_dark:#B2E983;

$text:#242A53;